
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    Hoteli, ovisno o željama i potrebama gostiju, pružaju djelomičnu ili potpunu uslugu koja obuhvaća spavanje, prehranu,
    zabavu i sve ostalo prilagođeno potrebama gostiju. Da bi se ovi elementi svi skupa objedinili potrebna je jedna jedinstvena
    baza podataka koja će sadržavati sve relevantne informacije potrebne za pravilno funkcionisanje ove kompleksne strukture.
    Naš projekat će biti baziran na kreiranju baze podataka za hotel koja će sadržavati sve bitne informacije vezane za rad 
    jedne tako kompleksne jedinice.
</p>


